<div class="layout-container container-fluid">
    <header role="banner" class="mbc-header">
        <div class="row">
            <div class="col-sm-6 mbc-branding-name">
                GRIDSTACK
            </div>
            <div class="col-sm-6">
                <div class="mbc-user-auth-links">
                    <ul>
                        {% if logged_in %}
                            <li class="mbc-account-link"><a href="/user">Account</a></li>
                        {% endif %}
                        {% if logged_in %}
                            <li class="mbc-logout-link"><a href="/user/logout">Log out</a></li>
                        {% else %}
                            <li class="mbc-login-link"><a href="/user/login">Log in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {{ page.highlighted }}
    {{ page.help }}
    <main role="main">
        <a id="main-content" tabindex="-1"></a>
        <div class="layout-content">
            <div ng-app="mbcApp">
                <div ng-controller="mbcMain" ng-init="mbcInit()" class="row">
                    <div class="left-sidebar col-sm-2">
                        <div class="page-list">
                            {% verbatim %}
                                <form ng-submit="newPage()" >
                    <div class="form-group">
                        <button class="btn btn-primary add-page" type="submit">Add Page</button>
                    </div>
                 </form>
                                <div data-ng-controller="SimpleController">
                     <div class="scrollbar-dynamic">
                         <ul class="pages container-fluid" dnd-list="pages">
                            <li ng-repeat="page in pages" weight="{{page.field_weight_value}}" dnd-draggable="page" dnd-effect-allowed="move" dnd-moved="pages.splice($index, 1)" class="page-line row">
                                <div class="page-link-wrapper col-xs-7">
                                  <a href="#" ng-click="loadPage(page.nid); $event.preventDefault(); $event.stopPropagation();" ng-bind-html="page.title" class="page-title"></a>
                                </div>
                                <div class="page-block-correction col-xs-5">
                                  <a href="#" ng-click="deletePage(page.nid)" class="btn btn-page-delete col-sm-6">Delete</a>
                                  <a href="#" ng-click="editPage(page.nid); $event.preventDefault(); $event.stopPropagation();" class="btn btn-page-edit col-sm-6">Edit</a>
                                </div>
                            </li>
                          </ul>
                     </div>
                 </div>
                                <a href="#" ng-click="savePagesList()" class="btn save-pagelist">Save</a>
                            {% endverbatim %}
                        </div>
                    </div>
                    {% verbatim %}
                        <div class="right-canvas-wrapper col-sm-10">
          <div class="right-canvas-center row" style="background-color: {{currentBgColor}}; background-image: url('{{currentBgImage}}')">
            <div class="main-canvas col-sm-9">
              <!--<p>{{widgets}}</p>-->
                <div class="gridstack-area">
                  <div gridstack class="grid-stack grid-stack-24 grid1" nid="{{nid}}" options="options" on-change="onChange(event,items)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
                    <div gridstack-item ng-model="widgets" ng-repeat="w in widgets" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y"
                         gs-item-width="w.width" gs-item-min-width="w.mwidth" gs-item-height="w.height" gs-item-min-height="w.mheight" gs-item-autopos="w.autopos" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)" mbc-widget-id="w.mbcWidgetId" mbc-component-id="{{w.mbcComponentId}}">
                        <div class="grid-stack-item-content">
                              <a class="btn-grid-edit" ng-click="editWidget(w.mbcComponentId)" href="#">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true" aria-label="Edit"></span>
                              </a>
                              <a class="btn-grid-remove" ng-click="removeWidget(w)" href="#">
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true" aria-label="Remove"></span>
                              </a>
                              <div mbc-widget="{{w.mbcWidgetId}}" class="mbc-widget-wrapper" mbc-widget-id="w.mbcWidgetId" mbc-component-id="{{w.mbcComponentId}}"></div>
                        </div>
                    </div>
                  </div>
                </div>

            </div>
            <a class="btn save-current-page" ng-click="savePage()" href="#">Save</a>
            <div class="right-canvas container col-sm-3">
                <div class="panel-group" id="accordion">
                   <div class="panel">
                       <div class="panel-heading">
                         <h4 class="panel-title">
                            <a href="#basicComponents" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
                                Basic components
                            </a>
                          </h4>
                       </div>
                       <div id="basicComponents" class="panel-collapse collapse in">
                          <div class="panel-body">
                            <ul class="components-buttons">
                              <li id="btn-component-title" class="grid-stack-item" gs-widget="title">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('title')" href="#">Title</a>
                              </li>
                              <li id="btn-component-subtitle" class="grid-stack-item" gs-widget="subtitle">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('subtitle')" href="#">Subtitle</a>
                              </li>
                              <li id="btn-component-text" class="grid-stack-item" gs-widget="text">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('text')" href="#">Text</a>
                              </li>
                              <li id="btn-component-video" class="grid-stack-item" gs-widget="video">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('video')" href="#">Video</a>
                              </li>
                              <li id="btn-component-image" class="grid-stack-item" gs-widget="image">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('image')" href="#">Image</a>
                              </li>
                              <li id="btn-component-button" class="grid-stack-item" gs-widget="button">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('button')" href="#">Button</a>
                              </li>
                            </ul>
                          </div>
                       </div>
                   </div>

                   <div class="panel">
                       <div class="panel-heading">
                         <h4 class="panel-title">
                            <a href="#components" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
                                Components
                            </a>
                          </h4>
                       </div>
                       <div id="components" class="panel-collapse collapse">
                          <div class="panel-body">
                            <ul class="components-buttons">
                              <li id="btn-component-form" class="grid-stack-item" gs-widget="form">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('form')" href="#">Form</a>
                              </li>
                              <li id="btn-component-calendar" class="grid-stack-item" gs-widget="calendar">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('calendar')" href="#">Calendar</a>
                              </li>
                              <li id="btn-component-countdown" class="grid-stack-item" gs-widget="countdown">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('countdown')" href="#">Countdown</a>
                              </li>
                              <li id="btn-component-price" class="grid-stack-item" gs-widget="price">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('price')" href="#">Price</a>
                              </li>
                              <li id="btn-component-card" class="grid-stack-item" gs-widget="card">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('card')" href="#">Card</a>
                              </li>
                              <li id="btn-component-menubar" class="grid-stack-item" gs-widget="menubar">
                                <a class="btn btn-component grid-stack-item-content" ng-click="addWidget('menubar')" href="#">Menu Bar</a>
                              </li>
                            </ul>
                          </div>
                       </div>
                   </div>

                   <div class="panel">
                       <div class="panel-heading">
                         <h4 class="panel-title">
                            <a href="#pageTemplate" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
                                Page Template
                            </a>
                          </h4>
                       </div>
                       <div id="pageTemplate" class="panel-collapse collapse">
                          <div class="panel-body">
                             <ul class="pages" dnd-list="templatePages">
                                <li ng-repeat="page in templatePages">
                                    <a href="#" ng-click="loadTemplatePage(page.nid); $event.preventDefault(); $event.stopPropagation();" ng-bind-html="page.title" class="btn btn-primary btn-component"></a>
                                </li>
                             </ul>
                          </div>
                       </div>
                   </div>
                </div>
            </div>
            <div class="modal-demo" id="modalwindow"></div>
          </div>
        </div>
                    {% endverbatim %}
                </div>
            </div>
            <div class="mbc-footer">
                <div class="mbc-footer-text">
                    © 2017 Gridstack
                </div>
            </div>
        </div>
    </main>
</div>
{{ attach_library('mbc_app/jquery') }}
{{ attach_library('mbc_app/jquery.ui') }}
{{ attach_library('mbc_app/mbcCountdown') }}
{{ attach_library('mbc_app/videosharing') }}
{{ attach_library('mbc_app/uiBootstrap') }}
{{ attach_library('mbc_app/angularjs') }}
{{ attach_library('mbc_app/angular_sanitize') }}
{{ attach_library('mbc_app/jquery-scrollbar') }}
{{ attach_library('mbc_app/angular_dnd_lists') }}
{{ attach_library('mbc_app/lodash') }}
{{ attach_library('mbc_app/gridstack') }}
{{ attach_library('mbc_app/touchPunch') }}
{{ attach_library('mbc_app/jquery-minicolors') }}
{{ attach_library('mbc_app/mbc_controllers') }}
{{ attach_library('mbc_app/mbc_directives') }}
{{ attach_library('mbc_app/mbc_services') }}
{{ attach_library('mbc_app/mbc_app') }}
{{ attach_library('mbc_app/bootstrap') }}
